babel
beautifulsoup4
black
build
flake8
flake8-black
flake8-bandit
flake8-eradicate
flake8-import-order
flake8-quotes
pydantic
patool
requests
setuptools
twine
vk-api
yandex_music
youtube-search-python
yt-dlp
